.image{
    display:flex ;
    justify-content: center;
}
h1{
    text-align: center;
    font-size: 50px;
}
.socials{
    margin: auto;
    display: flex;
    justify-content: center;
    
}
a{
    text-decoration: none;
    margin-right: 10px;
    color: black;
    border-right: 2px solid black;
    padding-right: 10px;
}
.left{
    padding-left: 10px;
    border-left:2px solid black;
}
a:hover{
    color: red;
    text-decoration: underline;
}
.home{text-decoration: none;
    color: white;
}
button{
    padding: 8px 18px;
    
    background-color: black;
    border-radius: 5px
}

    

