body{
    background-color: rgb(38, 101, 38);
    color: white;
}
.small-text{
    font-size: 20px;
}

button{
    padding: 8px 18px;
    
    background-color: black;
    border-radius: 5px;
    
    
}
.link{
    text-decoration: none;
    color: white;
}